<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Comments</title>
    <link rel="stylesheet" type="text/css" href="{% static 'comments/style.css' %}">
</head>
<body>
    <img src="{{ image.image.url }}" class="an_image"><br><br>

    {% for comment in comments %}
    <b>{{ comment.author.username }}</b>: {{ comment.text }}<br>
    {% endfor %}<br>

    {% if user.is_authenticated %}
        <form method="post" action="{% url 'comments:submit' image.id%}">
            {% csrf_token %}
            {{ user.username }}: {{ form.text }}
            <input type="submit" value="Отправить">
        </form><br>
    {% endif %}

    <a href="{% url 'images:index' %}">Назад</a>
</body>
</html>