[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
psycopg2-binary = "*"
gunicorn = "*"
psycopg2 = "*"
whitenoise = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.9"
