<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Comments</title>
    <link rel="stylesheet" type="text/css" href="{% static 'images/style.css' %}">
</head>
<body>
    <img src="{{ image.image.url }}" class="comments-image"><br><br>

    <div class="comments-block">
        {% for comment in comments %}
            <b>{{ comment.author.username }}</b>: {{ comment.text }}<br>
        {% endfor %}
    </div><br>

    {% if user.is_authenticated %}
        <form method="post" id="add-form" action="{% url 'images:add-comment' image.id %}">
            {% csrf_token %}
            {{ user.username }}: {{ form.text }}
            <input type="submit" value="Отправить">
        </form><br>
    {% endif %}

    <a href="{% url 'images:index' %}">Назад</a>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'comments/scripts/comments.js' %}"></script>
</body>
</html>