<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="stylesheet" type="text/css" href="{% static 'images/style.css' %}">
</head>
<body>
    <form method="post" enctype="multipart/form-data" action="{% url 'images:add_image' %}">
        {% csrf_token %}
        {{ form.image }}<br><br>
        {{ form.signature }}<br><br>
        <input type="submit" value="Добавить"><br><br>
    </form>

    <b>{{ user.username }}</b> (<a href="/accounts/logout/">выйти</a>)<br><br>

    <div class="wrapper">
    {% for image in images %}
        <div>
            <a href="{{image.image.url}}" target="_blank"><img src="{{ image.image.url }}" class="an_image"></a><br>
            <b>{{ image.signature }}</b>
        </div>
    {% endfor %}
    </div><br><br>

    <div class="paginator">
        {% if page_obj.has_previous %}
            <a href="?page=1">|<<|</a>
            <a href="?page={{ page_obj.previous_page_number }}"><|</a>
        {% endif %}

        Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">|></a>
            <a href="?page={{ page_obj.paginator.num_pages }}">|>>|</a>
        {% endif %}
    </div>

</body>
</html>
